{% for item in blogs[0:3] %}
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
        <div class="_blog_wrap">
            <div class="_blog_thumb mb-2">
                <a href="{{ url_for('main.blog_detail', title=slugify(item['title'])) }}" class="d-block"><img src="{{ item.img }}" class="img-fluid rounded" alt="" /></a>
            </div>
            <div class="_blog_caption">
                <span class="text-muted">{{ item.date }}</span>
                <h5 class="bl_title lh-1"><a href="{{ url_for('main.blog_detail', title=slugify(item['title'])) }}">{{ item.title }}</a></h5>
                <p>{{ item.desc }}</p>
                <a href="{{ url_for('main.blog_detail', title=slugify(item['title'])) }}" class="text-dark fs-sm">Continue Reading..</a>
            </div>
        </div>
    </div>
{% endfor %}