<!-- Log In Modal -->
<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginmodal" aria-hidden="true" style="z-index:99999">
    <div class="modal-dialog login-pop-form" role="document">
        <div class="modal-content" id="loginmodal">
            <div class="modal-headers">
                <button type="button" class="border-0 close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="ti-close"></span>
                </button>
                </div>

            <div class="modal-body p-5">
                <div class="text-center mb-4">
                    <h2 class="m-0 ft-regular">Login</h2>
                </div>

                <form method="post" action="/login/">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

                    <div class="form-group mb-3">
                        <label class="mb-2">Email</label>
                        <input type="email" name="email" class="form-control" placeholder="Email address" required>
                    </div>

                    <div class="form-group mb-3">
                        <label class="mb-2">Password</label>
                        <input type="password" name="password" class="form-control" placeholder="Password" required>
                    </div>

                    <div class="form-group mb-3">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="flex-1">
                                <input id="dd_modal" class="checkbox-custom" name="remember" type="checkbox">
                                <label for="dd_modal" class="checkbox-custom-label">Remember Me</label>
                            </div>
                            <div class="eltio_k2">
                                <a href="/forgot-password/">Lost Your Password?</a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <button type="submit" class="btn btn-md full-width bg-dark text-light fs-md ft-medium">Login</button>
                    </div>

                    <div class="form-group text-center mb-0">
                        <p class="extra">Not a member?<a href="/signup/" class="text-dark"> Register</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
