{% for item in reviews2 %}
    <div class="{{ item.style }}">
        <div class="single_rev_thumb"><img src="{{ item.img }}" class="img-fluid circle" width="90" alt="" /></div>
        <div class="single_rev_caption d-flex align-items-start ps-3">
            <div class="single_capt_left">
                <h5 class="mb-0 fs-md ft-medium lh-1">{{ item.name }}</h5>
                <span class="small">{{ item.date }}</span>
                <p>{{ item.desc }}</p>
            </div>
            <div class="single_capt_right">
                <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                    <i class="fas fa-star filled"></i>
                </div>
            </div>
        </div>
    </div>
{% endfor %}