{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar2.html' %}
			
<!-- Top Breadcrubms -->
<div class="gray py-3">
	<div class="container">
		<div class="row">
			<div class="colxl-12 col-lg-12 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Help</a></li>
						<li class="breadcrumb-item active" aria-current="page">Docs</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Top Breadcrubms -->

<!-- Docs Detail -->
<section class="middle">
	<div class="container">
		<div class="row align-items-start justify-content-between">
		
			<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12">
				<div class="nav flex-column nav-pills border rounded style-2" id="v-pills-tab" role="tablist" aria-orientation="vertical">

					<!-- Components/Docs/nav-link.html -->
    				{% include 'Components/Docs/nav-link.html' %}

				</div>
			</div>
			
			<div class="col-xl-9 col-lg-9 col-md-9 col-sm-12">
				<div class="tab-content" id="v-pills-tabContent">
					<!-- alert -->
					<div class="tab-pane fade show active" id="v-alert" role="tabpanel" aria-labelledby="v-alert-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/alert.html -->
    							{% include 'Components/Docs/alert.html' %}

							</div>
							
						</div>
					</div>
					
					<!-- avaters -->
					<div class="tab-pane fade" id="v-avaters" role="tabpanel" aria-labelledby="v-avaters-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/avatar.html -->
    							{% include 'Components/Docs/avatar.html' %}

							</div>

						</div>
					</div>
					
					<!-- badges -->
					<div class="tab-pane fade" id="v-badges" role="tabpanel" aria-labelledby="v-badges-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div class="badge_wpr mb-4">
									<h4>Badges</h4>

									<!-- Components/Docs/badges.html -->
    								{% include 'Components/Docs/badges.html' %}

								</div>
								
								<div class="badge_wpr">
									<h4>Link Badges</h4>

									<!-- Components/Docs/link-badges.html -->
    								{% include 'Components/Docs/link-badges.html' %}

								</div>
							</div>

						</div>
					</div>

					<!-- breadcrumb -->
					<div class="tab-pane fade" id="v-breadcrumb" role="tabpanel" aria-labelledby="v-breadcrumb-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/breadcrumb.html -->
    							{% include 'Components/Docs/breadcrumb.html' %}

							</div>

						</div>
					</div>
					
					<!-- buttons -->
					<div class="tab-pane fade" id="v-buttons" role="tabpanel" aria-labelledby="v-buttons-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div class="badge_wpr mb-4">
									<h4>Buttons</h4>

									<!-- Components/Docs/buttons.html -->
    								{% include 'Components/Docs/buttons.html' %}

								</div>
								
								<div class="badge_wpr mb-4">
									<h4>Outline Buttons</h4>

									<!-- Components/Docs/outline-buttons.html -->
    								{% include 'Components/Docs/outline-buttons.html' %}

								</div>
								
								<div class="badge_wpr mb-4">
									<h4>Simple Buttons</h4>
									<a href="/shop-style-1/" class="btn stretched-link borders">Explore More<i class="lni lni-arrow-right ms-2"></i></a>
									<a href="/shop-style-1/" class="btn btn-white stretched-link hover-black">Explore More<i class="lni lni-arrow-right ms-2"></i></a>
								</div>
								
							</div>

						</div>
					</div>
					
					<!-- form -->
					<div class="tab-pane fade" id="v-form" role="tabpanel" aria-labelledby="v-form-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/form.html -->
    							{% include 'Components/Docs/form.html' %}
								
							</div>

						</div>
					</div>
					
					<!-- list -->
					<div class="tab-pane fade" id="v-lists" role="tabpanel" aria-labelledby="v-lists-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/list.html -->
    							{% include 'Components/Docs/list.html' %}
								
							</div>

						</div>
					</div>
					
					<!-- tab -->
					<div class="tab-pane fade" id="v-tabss" role="tabpanel" aria-labelledby="v-tabss-tab">
						<div class="row">

							<!-- Components/Docs/tab.html -->
    						{% include 'Components/Docs/tab.html' %}

						</div>
					</div>
					
					<!-- accordion -->
					<div class="tab-pane fade" id="v-accordions" role="tabpanel" aria-labelledby="v-accordions-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<div id="accordion" class="accordion">

									<!-- Components/Docs/accordion.html -->
    								{% include 'Components/Docs/accordion.html' %}

								</div>
							</div>

						</div>
					</div>
					
					<!-- pagination -->
					<div class="tab-pane fade" id="v-pagination" role="tabpanel" aria-labelledby="v-pagination-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
								<nav aria-label="Page navigation example">

									<!-- Components/Docs/pagination.html -->
    								{% include 'Components/Docs/pagination.html' %}

								</nav>
							</div>

						</div>
					</div>
					
					<!-- typography -->
					<div class="tab-pane fade" id="v-typography" role="tabpanel" aria-labelledby="v-typography-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/typography.html -->
    							{% include 'Components/Docs/typography.html' %}

							</div>

						</div>
					</div>
					
					<!-- progressbar -->
					<div class="tab-pane fade" id="v-progressbar" role="tabpanel" aria-labelledby="v-progressbar-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/progressbar.html -->
    							{% include 'Components/Docs/progressbar.html' %}

							</div>

						</div>
					</div>
					
					<!-- utility -->
					<div class="tab-pane fade" id="v-utility" role="tabpanel" aria-labelledby="v-utility-tab">
						<div class="row">
							
							<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

								<!-- Components/Docs/utility.html -->
    							{% include 'Components/Docs/utility.html' %}
								
							</div>

						</div>
					</div>
					
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- Docs End -->

<!-- Customer Features -->
<section class="px-0 py-3 br-top">
	<div class="container">
		<div class="row">
			
			<!-- Components/blog-detail/features.html -->
            {% include 'Components/blog-detail/features.html' %}
			
		</div>
	</div>
</section>
<!-- Customer Features -->

<!-- Components/Home/index/quickview.html -->
{% include 'Components/Home/index/quickview.html' %}

<!-- Components/Home/index/log.html -->
{% include 'Components/Home/index/log.html' %}

<!-- Components/Home/index/search.html -->
{% include 'Components/Home/index/search.html' %}

<!-- Components/Home/index/wishlist.html -->
{% include 'Components/Home/index/wishlist.html' %}

<!-- Components/Home/index/cart.html -->
{% include 'Components/Home/index/cart.html' %}

{% include 'Base/footer.html' %} 

{% endblock %}