<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <title>SGT Cart</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="Fashion eCommerce Template" name="description">
        <meta name="author" content="Shreethemes">
        <meta name="website" content="https://shreethemes.in">
        <meta name="email" content="support@shreethemes.in">
        <meta name="version" content="1.0.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <!-- favicon -->
        <link rel="shortcut icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}" />
        <!-- Font -->
        <link href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&display=swap" rel="stylesheet">
    </head>

    <body>
        <!-- Hero Start -->
        <div style="margin: 24px auto ;">
            <table cellpadding="0" cellspacing="0" style="font-family: DM Sans, sans-serif; font-size: 16px; font-weight: 400; width: 600px; border: none; margin: 0 auto; border-radius: 6px; overflow: hidden; background-color: #fff; box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);">
                <thead style="padding: 16px; display: block;">
                    <tr style="display: block; border: none; text-align: center; font-size: 24px; letter-spacing: 1px;">
                        <th scope="col" style="margin: auto; display: block;"><a href="/"><img src="{{ url_for('static', filename='assets/img/logo.png') }}" alt=""></a></th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr>
                        <td style="background-color: #f8fafc; padding: 16px; display: block; text-align: center;">
                            <h2 style="font-weight: 600;">Signup Confirmation</h2>
                        </td>
                    </tr>

                    <tr>
                        <td style="padding: 16px 16px 0; color: #161c2d;">
                            <p style="margin: 0; font-size: 18px; font-weight: 500;">Hello, Harry!</p>
                            <p style="margin-bottom: 0; color: #94a3b8;">Thanks for creating an SGT Cart account. To continue, please confirm your email address by clicking the button below :</p>
                        </td>
                    </tr>
    
                    <tr>
                        <td style="padding: 16px 16px 0;">
                            <a href="javascript:void(0)" style="padding: 8px 20px; outline: none; text-decoration: none; font-size: 15px; display: inline-block; letter-spacing: 0.5px; transition: all 0.3s; font-weight: 500; border-radius: 6px; background-color: #161c2d; border: 1px solid #161c2d; color: #ffffff;">Confirm Email Address</a>
                        </td>
                    </tr>
    
                    <tr>
                        <td style="padding: 16px 16px 0; color: #94a3b8;">
                            This link will be active for 30 min from the time this email was sent.
                        </td>
                    </tr>
    
                    <tr>
                        <td style="padding: 16px;">
                            <p style="margin: 0; font-size: 18px; font-weight: 500;">SGT Cart <br> Support Team</p>
                        </td>
                    </tr>
    
                    <tr>
                        <td style="padding: 16px 8px; color: #fff; background-color: #161c2d; text-align: center;">
                            <table style="width: 100%;">
                                <tbody>
                                    <tr>
                                        <td style="display: inline-flex; align-items: center; margin: 0 10px 10px;">
                                            <span style="font-size: 14px;">Free delivery</span>
                                        </td>
                    
                                        <td style="display: inline-flex; align-items: center; margin: 0 10px 10px;">
                                            <span style="font-size: 14px;">Money-back quarantee</span>
                                        </td>
                    
                                        <td style="display: inline-flex; align-items: center; margin: 0 10px 10px;">
                                            <span style="font-size: 14px;">Secure payments</span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;">
                                            <p style="margin: 4px 0 10px;">© <script>document.write(new Date().getFullYear())</script> SGT Cart. Develop by <a href="https://shreethemes.in/" target="_blank" style="text-decoration: none; color: #fff;">Shreethemes</a>.</p>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td style="text-align: center;">
                                            <a href="" target="_blank" style="color: #e52d2d;">Unsubscribe</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Hero End -->
    </body>
</html>