{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar6.html' %}
			
<!-- Hero Banner  Start  -->
<div class="home-slider margin-bottom-0">

	<!-- Components/Home/home-14/slide11.html -->
    {% include 'Components/Home/home-14/slide11.html' %}

</div>
<!-- Hero Banner  End -->

<!-- Customer Features -->
<section class="p-0">
	<div class="container">
		<div class="row">

			<!-- Components/Home/home-14/features4.html -->
    		{% include 'Components/Home/home-14/features4.html' %}
			
		</div>
	</div>
</section>
<!-- Customer Features -->

<!-- Product List -->
<section class="middle">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Trendy Products</h2>
					<h3 class="ft-bold pt-3">Our Trending Products</h3>
				</div>
			</div>
		</div>
		
		<div class="row align-items-center rows-products">			
			
			<!-- Components/Home/home-14/products10.html -->
    		{% include 'Components/Home/home-14/products10.html' %}
			
		</div>
		
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="position-relative text-center">
					<a href="/shop-style-1/" class="btn stretched-links borders">Explore More<i class="lni lni-arrow-right ms-2"></i></a>
				</div>
			</div>
		</div>
		
	</div>
</section>
<!-- Product List -->

<!-- Tag Wrap Start -->
<section class="bg-cover" style="background:url({{ url_for('static', filename='assets/img/e-middle-banner.png') }}) no-repeat;">
	<div class="ht-60"></div>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-8 col-md-10 col-sm-12">
				<div class="tags_explore text-center">
					<h2 class="mb-0 text-white ft-bold">Big Sale Up To 70% Off</h2>
					<p class="text-light fs-lg mb-4">Exclussive Offers For Limited Time</p><p>
					<a href="#" class="btn btn-lg bg-white px-5 text-dark ft-medium">Explore Your Order</a>
				</p></div>
			</div>
		</div>
	</div>
	<div class="ht-60"></div>
</section>
<!-- Tag Wrap Start -->

<!-- All Category  -->
<section class="middle">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Popular Categories</h2>
					<h3 class="ft-bold pt-3">Trending Categories</h3>
				</div>
			</div>
		</div>
		
		<div class="row align-items-center justify-content-center g-xl-5 g-4">
			
			<!-- Components/Home/home-14/categories3.html -->
    		{% include 'Components/Home/home-14/categories3.html' %}

		</div>
		
	</div>
</section>
<!-- All Category  -->

<!-- Customer Review -->
<section class="gray">
	<div class="container">
	
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Testimonials</h2>
					<h3 class="ft-bold pt-3">Client Reviews</h3>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12">
				<div class="reviews-slide px-3">
					
					<!-- Components/Home/index/review.html -->
            		{% include 'Components/Home/index/review.html' %}
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Customer Review -->

<!-- Top Seller Start -->
<section class="space min">
	<div class="container">
		
		<div class="row">
			
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
				<div class="top-seller-title"><h4 class="ft-medium">Top Seller</h4></div>
				<div class="ftr-content">
				
					<!-- Components/Home/home-14/seller.html -->
    				{% include 'Components/Home/home-14/seller.html' %}
					
				</div>
			</div>
			
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
				<div class="ftr-title"><h4 class="ft-medium">Featured Products</h4></div>
				<div class="ftr-content">
					
					<!-- Components/Home/home-14/featured.html -->
    				{% include 'Components/Home/home-14/featured.html' %}

				</div>
			</div>
			
			<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
				<div class="ftr-title"><h4 class="ft-medium">Recent Products</h4></div>
				<div class="ftr-content">
					
					<!-- Components/Home/home-14/recent.html -->
    				{% include 'Components/Home/home-14/recent.html' %}

				</div>
			</div>
			
		</div>
		
	</div>
</section>
<!-- Top Seller Start -->

<!-- Brand Start -->
<section class="py-3 br-top">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="smart-brand">
					
					<!-- Components/Home/home-14/brand.html -->
    				{% include 'Components/Home/home-14/brand.html' %}
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Brand Start -->

<!-- Components/Home/index/quickview.html -->
{% include 'Components/Home/index/quickview.html' %}

<!-- Components/Home/index/log.html -->
{% include 'Components/Home/index/log.html' %}

<!-- Components/Home/index/search.html -->
{% include 'Components/Home/index/search.html' %}

<!-- Components/Home/index/wishlist.html -->
{% include 'Components/Home/index/wishlist.html' %}

<!-- Components/Home/index/cart.html -->
{% include 'Components/Home/index/cart.html' %}

{% include 'Base/footer.html' %} 

{% endblock %}