{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar3.html' %}
			
<!-- Hero Banner Start  -->
<div class="home-slider margin-bottom-0">

	<!-- Components/Home/home-2/slide.html -->
    {% include 'Components/Home/home-2/slide.html' %}

</div>
<!-- Hero Banner End -->

<!-- Category Style -->
<section class="middle">
	<div class="container">
		<div class="row g-0">
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">

				<!-- Components/Home/home-2/category2.html -->
    			{% include 'Components/Home/home-2/category2.html' %}
				
			</div>
			
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
				<!-- row -->
				<div class="row no-gutters">
					
					<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">

						<!-- Components/Home/home-2/category3.html -->
    					{% include 'Components/Home/home-2/category3.html' %}

					</div>
					
				</div>
				<!-- /row -->
				
			</div>
		</div>
	</div>
</section>
<!-- Category Style -->

<!-- Products Lists -->
<section class="space min pt-0">
	<div class="container">
		
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				
				<ul class="nav nav-tabs b-0 d-flex align-items-center justify-content-center simple_tab_links mb-4" id="myTab" role="tablist">
					
					<!-- Components/Home/home-2/nav.html -->
    				{% include 'Components/Home/home-2/nav.html' %}

				</ul>
				
				<div class="tab-content" id="myTabContent">
					
					<!-- All Content -->
					<div class="tab-pane fade" id="all" role="tabpanel" aria-labelledby="all-tab">
						<div class="tab_product">
							<div class="row rows-products">
								
								<!-- Components/Home/home-2/product2.html -->
    							{% include 'Components/Home/home-2/product2.html' %}
								
							</div>
						</div>
					</div>
					
					<div class="tab-pane fade show active" id="mens" role="tabpanel" aria-labelledby="mens-tab">
						<div class="tab_product">
							<div class="row rows-products">
								
								<!-- Components/Home/home-2/product3.html -->
    							{% include 'Components/Home/home-2/product3.html' %}
								
							</div>
						</div>
					</div>
					
					<!-- Women Content -->
					<div class="tab-pane fade" id="women" role="tabpanel" aria-labelledby="women-tab">
						<div class="tab_product">
							<div class="row rows-products">
								
								<!-- Components/Home/home-2/product4.html -->
    							{% include 'Components/Home/home-2/product4.html' %}
								
							</div>
						</div>
					</div>
					
					<div class="tab-pane fade" id="kids" role="tabpanel" aria-labelledby="kids-tab">
						<div class="tab_product">
							<div class="row rows-products">
								
								<!-- Components/Home/home-2/product5.html -->
    							{% include 'Components/Home/home-2/product5.html' %}
								
							</div>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<!-- Products List -->

<!-- Customer Review -->
<section class="gray">
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Testimonials</h2>
					<h3 class="ft-bold pt-3">Client Reviews</h3>
				</div>
			</div>
		</div>
		
		<div class="row justify-content-center">
			<div class="col-xl-9 col-lg-10 col-md-12 col-sm-12">
				<div class="reviews-slide px-3">
					
					<!-- Components/Home/index/review.html -->
            		{% include 'Components/Home/index/review.html' %}
					
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Customer Review -->

<!-- Blog Start -->
<section class="space min">
	<div class="container">
		
		<div class="row justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Latest News</h2>
					<h3 class="ft-bold pt-3">New Updates</h3>
				</div>
			</div>
		</div>
		
		<div class="row">
			
			<!-- Components/Home/index/blog.html -->
            {% include 'Components/Home/index/blog.html' %}
			
		</div>
		
	</div>
</section>
<!-- Blog Start -->

<!-- Instagram Start -->
<section class="p-0">
	<div class="container-fluid p-0 overflow-hidden">
		
		<div class="row no-gutters">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="sec_title position-relative text-center">
					<h2 class="off_title">Instagram Gallery</h2>
					<span class="fs-lg ft-bold theme-cl pt-3">@mahak_71</span>
					<h3 class="ft-bold lh-1">From Instagram</h3>
				</div>
			</div>
		</div>
		
		<div class="row no-gutters">
			<div class="insta-slider"> 
			
				<!-- Components/Home/index/insta.html -->
            	{% include 'Components/Home/index/insta.html' %}
				
			</div>
		</div>
		
	</div>
</section>
<!-- Instagram Start -->

<!-- Components/Home/index/quickview.html -->
{% include 'Components/Home/index/quickview.html' %}

<!-- Components/Home/index/log.html -->
{% include 'Components/Home/index/log.html' %}

<!-- Components/Home/index/search.html -->
{% include 'Components/Home/index/search.html' %}

<!-- Components/Home/index/wishlist.html -->
{% include 'Components/Home/index/wishlist.html' %}

<!-- Components/Home/index/cart.html -->
{% include 'Components/Home/index/cart.html' %}

<!-- Components/Home/index/popup-overlay.html -->
{% include 'Components/Home/index/popup-overlay.html' %}

{% include 'Base/footer2.html' %} 

{% endblock %}