{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar2.html' %}

<!-- Top Breadcrubms -->
<div class="gray py-3">
	<div class="container">
		<div class="row">
			<div class="colxl-12 col-lg-12 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
						<li class="breadcrumb-item"><a href="#">{{ _("Dashboard") }}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{ _("Profile Info") }}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Top Breadcrubms -->

<!-- Dashboard Detail -->
<section class="middle">
	<div class="container">
		<div class="row align-items-start justify-content-between">

			<div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods">
				<div class="d-block border rounded mfliud-bot">
					<div class="dashboard_author px-2 py-5">
						<div class="dash_auth_thumb circle p-1 border d-inline-flex mx-auto mb-2">
							<img src="{{ url_for('static', filename='assets/img/team-1.jpg') }}" class="img-fluid circle" width="100" alt="" />
						</div>
						<div class="dash_caption">
							<h4 class="fs-md ft-medium mb-0 lh-1">{{ current_user.name }}</h4>
							<span class="text-muted smalls">{{ current_user.email }}</span>
						</div>
					</div>

					<div class="dashboard_author">
						<h4 class="px-3 py-2 mb-0 lh-2 gray fs-sm ft-medium text-muted text-uppercase text-left">{{ _("Dashboard Navigation") }}</h4>
						<ul class="dahs_navbar">
							<li><a href="/my-orders/"><i class="lni lni-shopping-basket me-2"></i>{{ _("My Order") }}</a></li>
							<li><a href="/wishlist/"><i class="lni lni-heart me-2"></i>{{ _("Wishlist") }}</a></li>
							<li><a href="/profile-info/" class="active"><i class="lni lni-user me-2"></i>{{ _("Profile Info") }}</a></li>
							<li><a href="/addresses/"><i class="lni lni-map-marker me-2"></i>{{ _("Addresses") }}</a></li>
							<li><a href="/payment-method/"><i class="lni lni-mastercard me-2"></i>{{ _("Payment Method") }}</a></li>
							<li><a href="/logout/"><i class="lni lni-power-switch me-2"></i>{{ _("Log Out") }}</a></li>
						</ul>
					</div>

				</div>
			</div>

			<div class="col-12 col-md-12 col-lg-8 col-xl-8">

				{% include 'Base/flash_messages.html' %}

				<!-- Profile details -->
				<form method="post" action="{{ url_for('account.update_profile') }}" class="row g-3 m-0 border rounded p-3 mb-4">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					<h5 class="ft-medium mb-1 px-0">{{ _("Profile Details") }}</h5>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("First Name") }} *</label>
							<input type="text" name="first_name" class="form-control"
								value="{{ current_user.name.split()[0] if current_user.name }}" required>
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("Last Name") }}</label>
							<input type="text" name="last_name" class="form-control"
								value="{{ current_user.name.split()[1:]|join(' ') }}">
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("Email ID") }}</label>
							<input type="text" class="form-control" value="{{ current_user.email }}" readonly>
						</div>
					</div>

					<div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("Phone") }}</label>
							<input type="text" name="phone" class="form-control" value="{{ current_user.phone or '' }}">
						</div>
					</div>

					<div class="col-12">
						<button type="submit" class="btn btn-dark">{{ _("Save Changes") }}</button>
					</div>
				</form>

				<!-- Change password -->
				<form method="post" action="{{ url_for('account.change_password') }}" class="row g-3 m-0 border rounded p-3">
					<input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
					<h5 class="ft-medium mb-1 px-0">{{ _("Change Password") }}</h5>

					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("Current Password") }} *</label>
							<input type="password" name="current_password" class="form-control" required>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("New Password") }} *</label>
							<input type="password" name="new_password" class="form-control" required>
						</div>
					</div>

					<div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
						<div class="form-group">
							<label class="small text-dark ft-medium mb-2">{{ _("Confirm Password") }} *</label>
							<input type="password" name="confirm_password" class="form-control" required>
						</div>
					</div>

					<div class="col-12">
						<button type="submit" class="btn btn-dark">{{ _("Change Password") }}</button>
					</div>
				</form>

			</div>

		</div>
	</div>
</section>
<!-- Dashboard Detail End -->

{% include 'Components/Home/index/quickview.html' %}
{% include 'Components/Home/index/log.html' %}
{% include 'Components/Home/index/search.html' %}
{% include 'Components/Home/index/wishlist.html' %}
{% include 'Components/Home/index/cart.html' %}

{% include 'Base/footer.html' %}

{% endblock %}
