{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar3.html' %}
			
<!-- Shop Style 1 -->
<section class="bg-cover" style="background:url({{ url_for('static', filename='assets/img/cover-1.jpg') }}) no-repeat;">
	<div class="container">
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
				<div class="text-center py-5 mt-3 mb-3">
					<h1 class="ft-medium mb-3">Shop</h1>
					<ul class="shop_categories_list m-0 p-0">
						<li><a href="#">Men</a></li>
						<li><a href="#">Speakers</a></li>
						<li><a href="#">Women</a></li>
						<li><a href="#">Accessories</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Shop Style 1 -->


<!-- Filter Wrap Style 1 -->
<section class="py-2 br-bottom br-top">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-xl-3 col-lg-4 col-md-5 col-sm-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">Home</a></li>
						<li class="breadcrumb-item"><a href="#">Shop</a></li>
						<li class="breadcrumb-item active" aria-current="page">Women's</li>
					</ol>
				</nav>
			</div>
			
			<!-- Components/Shop/shop-style-1/filter.html -->
    		{% include 'Components/Shop/shop-style-1/filter.html' %}

		</div>
		
		<div class="row align-items-center justify-content-center">
			<div class="col-xl-12 col-lg-12 col-md-12">
				<div class="collapse" id="filterBox">
					<div class="card py-3 b-0">
						<div class="row">
							
							<!-- Components/Shop/shop-style-1/choose.html -->
    						{% include 'Components/Shop/shop-style-1/choose.html' %}
							
							<!-- Components/Shop/shop-style-1/size.html -->
    						{% include 'Components/Shop/shop-style-1/size.html' %}
							
							<!-- Components/Shop/shop-style-1/colors.html -->
    						{% include 'Components/Shop/shop-style-1/colors.html' %}
							
							<!-- Components/Shop/shop-style-1/price.html -->
    						{% include 'Components/Shop/shop-style-1/price.html' %}
							
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>
<!-- Filter Wrap -->


<!-- All Product List -->
<section class="middle">
	<div class="container">
	
		<!-- row -->
		<div class="row align-items-center rows-products">
		
			<!-- Components/Home/index/product.html -->
            {% include 'Components/Home/index/product.html' %}
			
			<!-- Components/Shop/shop-style-1/product6.html -->
    		{% include 'Components/Shop/shop-style-1/product6.html' %}
			
		</div>
		<!-- row -->
		
		<div class="row">
			<div class="col-xl-12 col-lg-12 col-md-12 text-center">
				<a href="" class="btn stretched-links borders m-auto"><i class="lni lni-reload me-2"></i>Load More</a>
			</div>
		</div>
		
	</div>
</section>
<!-- All Product List -->

<!-- Customer Features -->
<section class="px-0 py-3 br-top">
	<div class="container">
		<div class="row">
			
			<!-- Components/Home/index/features2.html -->
            {% include 'Components/Home/index/features2.html' %}
			
		</div>
	</div>
</section>
<!-- Customer Features -->

<!-- Components/Home/index/quickview.html -->
{% include 'Components/Home/index/quickview.html' %}

<!-- Components/Home/index/log.html -->
{% include 'Components/Home/index/log.html' %}

<!-- Components/Home/index/search.html -->
{% include 'Components/Home/index/search.html' %}

<!-- Components/Home/index/wishlist.html -->
{% include 'Components/Home/index/wishlist.html' %}

<!-- Components/Home/index/cart.html -->
{% include 'Components/Home/index/cart.html' %}

{% include 'Base/footer.html' %} 

{% endblock %}