{% extends "Base/base.html" %}

{% block hero_content %}

{% include 'Base/navbar2.html' %}
			
<!-- Top Breadcrubms -->
<div class="gray py-3">
	<div class="container">
		<div class="row">
			<div class="colxl-12 col-lg-12 col-md-12">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/">{{ _("Home") }}</a></li>
						<li class="breadcrumb-item"><a href="#">{{ _("Dashboard") }}</a></li>
						<li class="breadcrumb-item active" aria-current="page">{{ _("Wishlist") }}</li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>
<!-- Top Breadcrubms -->

<!-- Dashboard Detail -->
<section class="middle">
	<div class="container">
		<div class="row justify-content-center justify-content-between">
		
			<div class="col-12 col-md-12 col-lg-4 col-xl-4 text-center miliods">
				<div class="d-block border rounded mfliud-bot">
					<div class="dashboard_author px-2 py-5">
						<div class="dash_auth_thumb circle p-1 border d-inline-flex mx-auto mb-2">
							<img src="{{ url_for('static', filename='assets/img/team-1.jpg') }}" class="img-fluid circle" width="100" alt="" />
						</div>
						<div class="dash_caption">
							<h4 class="fs-md ft-medium mb-0 lh-1">Adam Wishnoi</h4>
							<span class="text-muted smalls">{{ _("Australia") }}</span>
						</div>
					</div>
					
					<div class="dashboard_author">
						<h4 class="px-3 py-2 mb-0 lh-2 gray fs-sm ft-medium text-muted text-uppercase text-left">{{ _("Dashboard Navigation") }}</h4>
						<ul class="dahs_navbar">
							<li><a href="/my-orders/"><i class="lni lni-shopping-basket me-2"></i>{{ _("My Order") }}</a></li>
							<li><a href="/wishlist/" class="active"><i class="lni lni-heart me-2"></i>{{ _("Wishlist") }}</a></li>
							<li><a href="/profile-info/"><i class="lni lni-user me-2"></i>{{ _("Profile Info") }}</a></li>
							<li><a href="/addresses/"><i class="lni lni-map-marker me-2"></i>{{ _("Addresses") }}</a></li>
							<li><a href="/payment-method/"><i class="lni lni-mastercard me-2"></i>{{ _("Payment Method") }}</a></li>
							<li><a href="/login/"><i class="lni lni-power-switch me-2"></i>{{ _("Log Out") }}</a></li>
						</ul>
					</div>
					
				</div>
			</div>
			
			<div class="col-12 col-md-12 col-lg-8 col-xl-8 text-center">
				<!-- row -->
				<div class="row align-items-center" id="wishlist-content-wrapper">
					
					{% if wishlist %}
						{% for item in wishlist %}
				
							<div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 wishlist-item-wrapper wishlist-item-{{ item.id }}" data-id="{{ item.id }}">
								<div class="product_grid card b-0">
									<button class="btn btn_love position-absolute ab-right theme-cl close_wishlist_item" style="top: 0.7rem;" data-id="{{ item.id }}">
										<i class="fas fa-times"></i>
									</button>
									<button class="btn btn_love position-absolute ab-right theme-cl add_wishlist_item" style="top: 60px;">
										<i class="fas fa-expand-arrows-alt"></i>
									</button>
									<div class="card-body p-0">
										<div class="shop_thumb position-relative">
											<a class="card-img-top d-block overflow-hidden" href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}"><img class="card-img-top" src="{{ item.image }}" alt="..."></a>
											<div class="product-hover-overlay bg-dark d-flex align-items-center justify-content-center">
												<div class="edlio"><a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-product-id="{{ item.id }}" class="text-white fs-sm ft-medium quickview-btn"><i class="fas fa-eye me-1"></i>{{ _("Quick View") }}</a></div>
											</div>
										</div>
									</div>
									<div class="card-footers b-0 pt-3 px-2 bg-white d-flex align-items-start justify-content-center">
										<div class="text-left">
											<div class="text-center">
												<h5 class="product_title fw-normal fs-md mb-0 lh-1 mb-1"><a href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}">{{ item.title }}</a></h5>
												<div class="elis_rty">
													<span class="ft-medium fs-md text-dark price" data-price="{{ item.price }}">
														${{ "%.2f" % item.price }}
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						{% endfor %}
					{% else %}
						<div class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 400px;">
							<div>
								<img src="{{ url_for('static', filename='assets/img/wishlist.png') }}" class="img-fluid" width="100" alt="" />
							</div>
							<h2 class="mt-2 mb-2 ft-bold">{{ _("Your Wishlist is empty!") }}</h2>
							<p class="text-muted fs-6">{{ _("Your Wishlist is empty please go to the shop page and select your favourite items.") }}</p>
							<div class="position-relative text-center">
								<a href="/shop-style-1/" class="btn stretched-links borders">{{ _("Shop Now") }}</i></a>
							</div>
						</div>
					{% endif %}
					
				</div>
				<!-- row -->
			</div>
			
		</div>
	</div>
</section>
<!-- Dashboard Detail End -->

<!-- Customer Features -->
<section class="px-0 py-3 br-top">
	<div class="container">
		<div class="row">
			
			<!-- Components/blog-detail/features.html -->
            {% include 'Components/blog-detail/features.html' %}
			
		</div>
	</div>
</section>
<!-- Customer Features -->

<!-- Components/Home/index/quickview.html -->
{% include 'Components/Home/index/quickview.html' %}

<!-- Components/Home/index/log.html -->
{% include 'Components/Home/index/log.html' %}

<!-- Components/Home/index/search.html -->
{% include 'Components/Home/index/search.html' %}

<!-- Components/Home/index/wishlist.html -->
{% include 'Components/Home/index/wishlist.html' %}

<!-- Components/Home/index/cart.html -->
{% include 'Components/Home/index/cart.html' %}

{% include 'Base/footer.html' %} 

{% endblock %}