{% for item in products9 %}
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
    <div class="product_grid card b-0">
            {% if item.tag %}
                <div class="badge {{ item.style }} text-white position-absolute ft-regular ab-left text-upper">{{ item.tag }}</div>
            {% endif %}
        <button class="snackbar-wishlist btn btn_love position-absolute ab-right"><i class="far fa-heart"></i></button> 
        <div class="card-body p-0">
            <div class="shop_thumb position-relative">
                <a class="card-img-top d-block overflow-hidden ovr-hide" href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}"><img class="card-img-top" src="{{ item.img }}" alt="..."></a>
                <a class="card-img-top d-block overflow-hidden ovr-show" href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}"><img class="card-img-top" src="{{ item.img1 }}" alt="..."></a>
                <div class="product-hover-overlay btn d-flex align-items-center justify-content-center">
                    <div class="group_btn">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#quickview" data-product-id="{{ item.id }}" class="prd_btn_square quickview-btn"><i class="ti-fullscreen"></i></a>
                        <a href="javascript:void(0);" class="prd_btn_square"><i class="lni lni-heart"></i></a>
                        <a href="javascript:void(0);" class="prd_btn_square"><i class="lni lni-shopping-basket"></i></a>
                        <a href="javascript:void(0);" class="prd_btn_square"><i class="lni lni-shuffle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer b-0 p-3 pb-0 bg-white d-flex align-items-start justify-content-center">
            <div class="text-left">
                <div class="text-center">
                    <h5 class="fw-normal fs-md mb-0 lh-1 mb-1"><a href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}">{{ item.title }}</a></h5>
                    <div class="elis_rty">
                        {% if item.original_price %}
                            <span class="text-muted ft-medium line-through me-2">${{ item.original_price }}.00</span>
                            <span class="{{ item.class }}">${{ item.price }}.00</span>
                        {% else %}
                            <span class="{{ item.class }}">${{ item.price }}.00</span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}