<!-- Slide -->
<div data-background-image="{{ url_for('static', filename='assets/img/banner-a.jpg') }}" class="item" data-overlay="3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-slider-container">

                    <div class="home-slider-desc text-center">
                        <div class="home-slider-title mb-4">
                            <h5 class="text-light fs-lg ft-medium mb-0">Winter Arrivals</h5>
                            <h1 class="mb-1 ft-bold lg-heading">Collections 2025</h1>
                        </div>
                        
                        <div class="d-block mb-0">
                            <a href="#" class="btn stretched-links light-borders mx-2 my-3 ft-bold">Shop Men</a>
                            <a href="#" class="btn stretched-links light-borders mx-2 my-3 ft-bold">Shop Women</a>
                        </div>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Slide -->
<div data-background-image="{{ url_for('static', filename='assets/img/banner-b.jpg') }}" class="item">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-slider-container">

                    <div class="home-slider-desc">
                        <div class="home-slider-title mb-4">
                            <h5 class="text-light fs-md ft-medium mb-0">Summer Collection</h5>
                            <h1 class="mb-1 ft-bold text-light lg-heading">Women's Fashion<br>UpTo 30% Off</h1>
                            <span class="trending text-light">There's nothing like trend</span>
                        </div>

                        <a href="#" class="btn btn-white stretched-links">Shop Now<i class="lni lni-arrow-right ms-2"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Slide -->
<div data-background-image="{{ url_for('static', filename='assets/img/banner-c.jpg') }}" class="item" data-overlay="3">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="home-slider-container">

                    <div class="home-slider-desc text-center">
                        <div class="home-slider-title mb-4">
                            <h5 class="text-light fs-lg ft-medium mb-0">Get Summer Styles</h5>
                            <h1 class="mb-1 ft-bold lg-heading">UP TO 40% OFF</h1>
                            <span class="trending text-light">There's nothing like trend</span>
                        </div>

                        <a href="#" class="btn btn-white stretched-links">Shop Now<i class="lni lni-arrow-right ms-2"></i></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>