{% for item in categories2 %}
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-4">
        <div class="cats_side_wrap text-center mx-auto">
            <div class="sl_cat_01"><div class="d-inline-flex align-items-center justify-content-center p-4 circle mb-2 border"><a href="javascript:void(0);" class="d-block"><img src="{{ item.img }}" class="img-fluid" width="40" alt=""></a></div></div>
            <div class="sl_cat_02"><h6 class="m-0 ft-medium fs-sm"><a href="javascript:void(0);">{{ item.title }}</a></h6></div>
        </div>
    </div>
{% endfor %}