{% for item in slides10 %}
    <div data-background-image="{{ item.img }}" class="item">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="home-slider-container">

                        <div class="home-slider-desc">
                            <div class="home-slider-title mb-4">
                                <h5 class="{{ item.class }}">{{ item.name }}</h5>
                                <h1 class="{{ item.class1 }}">{{ item.title }}<br>{{ item.title1 }}</h1>
                                <span class="{{ item.class2 }}">{{ item.desc }}</span>
                            </div>

                            <a href="#" class="{{ item.style }}">{{ item.btn }}<i class="lni lni-arrow-right ms-2"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}