{% for item in products[21:27] %}
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="product_grid row">
            <div class="col-xl-4 col-lg-5 col-md-6 col-sm-12">
                <div class="shop_thumb position-relative">
                    <div class="badge {{ item.style }} text-white position-absolute ft-regular ab-left text-upper">{{ item.tag }}</div>
                    <a class="card-img-top d-block overflow-hidden" href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}"><img class="card-img-top" src="{{ item.img }}" alt="..."></a>
                    <div class="product-left-hover-overlay">
                        <ul class="left-over-buttons">
                            <li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center"><i class="fas fa-expand-arrows-alt position-absolute"></i></a></li>
                            <li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center snackbar-wishlist"><i class="far fa-heart position-absolute"></i></a></li>
                            <li><a href="javascript:void(0);" class="d-inline-flex circle align-items-center justify-content-center snackbar-addcart"><i class="fas fa-shopping-basket position-absolute"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xl-8 col-lg-7 col-md-6 col-sm-12">
                <div class="text-left mfliud">
                    
                    <h5 class="fs-md mb-0 lh-1 mb-1 ft-medium"><a href="{{ url_for('main.shop_single_v1', title=slugify(item['title'])) }}">{{ item.title }}</a></h5>
                    <div class="star-rating align-items-center d-flex justify-content-left mb-1 p-0">
                        <i class="fas fa-star {{ item.star }}"></i>
                        <i class="fas fa-star {{ item.star }}"></i>
                        <i class="fas fa-star {{ item.star }}"></i>
                        <i class="fas fa-star {{ item.star }}"></i>
                        <i class="fas fa-star {{ item.star }}"></i>
                        <span class="small">({{ item.reviews }})</span>
                    </div>
                    <div class="elis_rty"><span class="ft-bold text-dark fs-sm">${{ item.price }}</span></div>
                    <div class="d-block mt-3 mb-4">
                        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum are deleniti atque corrupti quos dolores</p>
                    </div>
                    <div class="position-relative text-left">
                        <a href="javascript:void(0);" class="btn stretched-links borders  snackbar-addcart">Add To Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}